<template>
	<require from="./docs.css"></require>
	<!-- <section class="customer-orders au-animate"> -->
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h2>
			<i class="fa fa-folder-open"></i> AR Prep Entry version:I / ${dailies[0].length} Total ${appService.currentDaily.TOTAL}
			${appService.currentDaily.insco.NAME} ${appService.currentDaily.insured.LEGAL_NAME}

			<!-- <a slot="buttons-slot" class="btn btn-success" click.delegate="addAR()">
				<i class="fa fa-plus"></i> Create AR
			</a> -->





		</h2>
		<table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: dailies; cols: ['CLAIM_NO','WORK_DATE',
     'SERVICE','WORK_TIME','MILEAGE','EXPENSE_TYPE_ID','EXPENSE','WORK_DESCRIPTION','ADJUSTER_NOTES',
     'ADJUSTER']">
				<tr>
					<th class="header"> <input id="chkToggleAll" click.delegate="toggleAll()" type="checkbox" /> </th>
					<th class="header"> Selected </th>
					<th class="header">CLAIM_NO </th>
					<th class="header">Batch </th>
					<th class="header">WORK_DATE </th>
					<th class="header">SERVICE </th>
					<th class="header">WORK TIME(WT)</th>
					<th class="header">WT BILLED</th>
					<th class="header">WT PAID </th>
					<th class="header">MILEAGE </th>
					<th class="header">M BILLED </th>
					<th class="header">M PAID </th>

					<th class="header">EXPENSE </th>
					<th class="header">EXPENSE AMT </th>
					<th class="header">E BILLED </th>
					<th class="header">E PAID </th>

					<th class="header">WRK DESC </th>
					<th class="header">ADJUSTER_NOTES </th>
					<th class="header">ADJUSTER </th>
					<th class="header">Cmd </th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>


				</tr>
			</tfoot>
			<tbody>
				<tr repeat.for="daily of dailies" with.bind="daily">
					<td width="30px">
					</td>
					<td><input type="checkbox" checked.bind="daily.$isSelected" /></td>
					<td width="80px">
						<span show.bind="!daily.edit">${CLAIM.CLAIM_NO}</span>
						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" value.bind="CLAIM.CLAIM_NO">
					</td>
					<td width="60px">
						<span show.bind="!daily.edit">${batchno}</span>
						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" value.bind="batchno">
					</td>
					<td width="90px">
						<span show.bind="!daily.edit">${WORK_DATE}</span>
						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" type="date" value.bind="WORK_DATE">
					</td>
					<td width="155px">

						<span show.bind="!daily.edit">${SERVICE.DESCRIPTION}</span>
						<select show.bind="daily.edit" id="service" class="form-control input-sm" value.two-way="SERVICE.DESCRIPTION" change.delegate="selectChanged(daily, SERVICE)"> 
              <option model.bind="null">Choose...</option> 
              <option repeat.for="opt of appService.serviceList" model.bind="opt.DESCRIPTION">
               ${opt.DESCRIPTION} 
                 <!-- ${opt.SORT_NO} &nbsp;  ${opt.DESCRIPTION}  -->
              </option> 
            </select>
					</td>
					<!--bad <td width="155px">

						<span show.bind="!daily.edit">${SERVICE.DESCRIPTION}</span>
						<select show.bind="daily.edit" id="service" class="form-control input-sm" value.two-way="SERVICE" change.delegate="selectChanged(daily, SERVICE)"> 
              <option model.bind="null">Choose...</option> 
              <option repeat.for="opts of appService.serviceList" model.bind="opts">
               ${opts.SORT_NO} &nbsp;  ${opts.DESCRIPTION} 
              </option> 
            </select>
					</td> -->
					<td width="90px">
						<span show.bind="!daily.edit">${WORK_TIME}</span>

						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" type="text" value.bind="WORK_TIME">						</td>
					</td>
					<td width="90px">
						<span show.bind="!daily.edit">${WORK_TIME_BILLED}</span>
						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" type="text" value.bind="WORK_TIME_BILLED">						</td>
					</td>
					<td width="90px">
						<span show.bind="!daily.edit">${WORK_TIME_PAID}</span>
						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" type="text" value.bind="WORK_TIME_PAID">						</td>
					</td>
					<td width="95px">
						<span show.bind="!daily.edit">${MILEAGE}</span>

						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" type="text" value.bind="MILEAGE">						</td>
					</td>
					<!-- <td width="95px">
						<span show.bind="!daily.edit">${TRAVEL_BILLEDAPPROVED}</span>
						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" type="text" value.bind="TRAVEL_BILLEDAPPROVED">						</td>
					</td> -->
					<td width="95px">
						<span show.bind="!daily.edit">${TRAVEL_APPROVED}</span>
						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" type="text" value.bind="TRAVEL_APPROVED">						</td>
					</td>
					<td width="95px">
						<span show.bind="!daily.edit">${EXPENSE_BILLEDAPPROVED}</span>
						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" type="text" value.bind="EXPENSE_BILLEDAPPROVED">						</td>
					</td>

					<td width="155px">
						<span show.bind="!daily.edit">${EXPENSE.DESCRIPTION}</span>
						<select show.bind="daily.edit" id="adj" class="form-control input-sm" value.two-way="EXPENSE.DESCRIPTION"> 
              <option model.bind="null">Choose...</option> 
              <option repeat.for="opt of appService.expenseList" model.bind="opt.DESCRIPTION">
               ${opt.DESCRIPTION} 
              </option> 
            </select>
					</td>


					<td width="90px">
						<span show.bind="!daily.edit">${EXPENSE_AMT}</span>

						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" type="text" value.bind="EXPENSE_AMT">						</td>
					</td>
					<td width="90px">
						<span show.bind="!daily.edit">${EXPENSE_APPROVED}</span>

						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" type="text" value.bind="EXPENSE_APPROVED">						</td>
					</td>
					<td width="90px">
						<span show.bind="!daily.edit">${EXPENSE_BILLEDAPPROVED}</span>

						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" type="text" value.bind="EXPENSE_BILLEDAPPROVED">						</td>
					</td>
					<td width="205px">
						<span show.bind="!daily.edit">${WORK_DESCRIPTION}</span>

						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" type="text" value.bind="WORK_DESCRIPTION">						</td>
					</td>
					<td width="125px">
						<span show.bind="!daily.edit">${ADJUSTER_NOTES}</span>
						<input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" type="text" value.bind="ADJUSTER_NOTES">						</td>
					</td>

					<td width="125px">
						<span>${ADJUSTER.ADJUSTER_NAME}</span>
						<!-- <span show.bind="!daily.edit">${ADJUSTER.ADJUSTER_NAME}</span> -->
						<!-- <input show.bind="daily.edit" class="form-control input-sm" disabled.bind="!daily.edit" type="text" value.bind="ADJUSTER_NAME">						</td> -->
					</td>




					<td width="225px">
						<!-- <button class="btn btn-primary" click.delegate="saveitem(daily)">${ !daily.edit ? 'Update' : 'Done' }</button> -->
						<button class="btn btn-primary" click.delegate="daily.edit=!daily.edit">${ !daily.edit ? 'Update' : 'Done' }</button>

						<button class="btn btn-danger" click.delegate="remove(daily,$index)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- <input id="chkToggleAll" click.delegate="toggleAll()" type="checkbox"/> -->

		<button class="btn btn-primary" click.delegate="save()">Submit Daily (save all line items)</button>
		<div class="flex-column-none section-footer">
			<!-- ${footer} -->

			<span>&nbsp;&nbsp;	
          <button class="btn btn-sm btn-danger" click.delegate="save()">
                  Save Daily
          </button>
        </span>
			<span>&nbsp;&nbsp;	
          <button class="btn btn-sm btn-danger" click.delegate="saveCreateTemp()">
                  Save Dailies & Create Temp AR
          </button>
        </span>


			<span>&nbsp;&nbsp;	
          <button class="btn btn-sm btn-danger" click.delegate="saveCreate()">
                  Save Dailies & Create AR
          </button>
        </span>

			<span>&nbsp;&nbsp;	
          <button class="btn btn-sm btn-danger" click.delegate="close()">
                 Close
          </button>
        </span>
		</div>

	</section>
</template>