           <template>
             <script type="text/javascript">
             function closedWin() {
    confirm("close ?");
    return false; /* which will not allow to close the window */
}
if(window.addEventListener) {
     window.addEventListener("close", closedWin, false);
}

window.onclose = closedWin;
</script>
	<require from="./flex.css"></require>
	<section class="full-height flex-column-1 au-animate ignore">
		<div class="flex-row-none section-header">
			${heading} Add
		</div>
		<div class="flex-column-1 overflow-y-auto">
			<form class="flex-column-1">
				<div id="top" class="flex-row-3">
					<div id="top-left" class="data-form overflow-y-auto flex-column-2">
						<!-- row1 -->
						<div class="flex-row-none">
							<div class="form-group flex-column-1">
								<div class="Rtable Rtable--2cols">
									<div class="Rtable-cell-30 Rtable-cell--green">
										<strong> CLAIM_NO</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--green">
										<input type="text" id="CLAIM_NO" class="form-control input-sm" value.bind="appService.currentClaim.CLAIM_NO">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--green">
										<strong> Claimant Last</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--green">
										<input type="text" id="CLAIM_NO" class="form-control input-sm" value.bind="appService.currentClaim.claimant.LAST_NAME">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--green">
										<strong> Claimant First</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--green">
										<input type="text" id="FIRST_NAME" class="form-control input-sm" value.bind="appService.currentClaim.claimant.FIRST_NAME">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--green">
										<strong> Adjuster</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--green">
										${appService.currentClaim.primaryAdjuster}
										<!-- <select id="adjuster" class="form-control input-sm" value.bind="appService.currentClaim.ADJUSTER_ID"> 
                      <option model.bind="null">Choose...${appService.currentClaim.ADJUSTER_ID}</option> 
                      <option repeat.for="opt of appService.adjusterList" model.bind="opt.ADJUSTER_ID">
                        ${opt.ADJUSTER_NAME}  
                      </option>  this.appService.MasrepList
                    </select> -->
									</div>

									<div class="Rtable-cell-30 Rtable-cell--green">
										<strong> MAS Rep</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--green">
										<select id="adjuster" class="form-control input-sm" value.bind="appService.currentClaim.ACCOUNT_REP_ID"> 
                      <option model.bind="null">Choose...${appService.currentClaim.ACCOUNT_REP_ID}</option> 
                      <option repeat.for="opt of appService.MasrepList" model.bind="opt.ACCOUNT_REP_ID">
                        ${opt.REP_LAST}  
                      </option> 
                    </select>
									</div>


									<div class="Rtable-cell-30 Rtable-cell--green">
										<strong> Insured></strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--green">

										<input click.delegate="showModal('INSURED_ID')" type="text" id="INSURED_ID" class="form-control input-sm" value.bind="appService.currentClaim.insured.LEGAL_NAME">


										<!-- <select id="JURISDICTION_ID" class="form-control input-sm" value.bind="appService.currentClaim.JURISDICTION_ID"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of appService.stateList" model.bind="opt.value">
                        ${opt.name} 
                      </option> 
                    </select> -->

									</div>

									<div class="Rtable-cell-30 Rtable-cell--green">
										<strong> Accident Location</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--green">
										<input type="text" id="LOCATION_ID" class="form-control input-sm" value.bind="appService.currentClaim.LOCATION_ID">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--green">
										<strong> CLAIM_TYPE</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--green">
										<select id="CLAIM_TYPE" class="form-control input-sm" value.bind="appService.currentClaim.CLAIM_TYPE"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of appService.claimtypeList" model.bind="opt.CLAIM_TYPE_ID">
                        ${opt.CLAIM_TYPE_DESC} 
                      </option> 
                    </select>
									</div>
								</div>
							</div>
							<!-- demo middle col -->
							<div class="form-group flex-column-1 margin-left-10">
								<div class="Rtable Rtable--2cols">
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> INSURANCE COMPANY></strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input click.delegate="showModal('insco')" type="text" id="INSURANCE" class="form-control input-sm" value.bind="appService.currentClaim.insco.NAME">
										<!-- <input type="text" id="INSURED_ID" class="form-control input-sm" value.bind="appService.currentClaim.insured.LEGAL_NAME"> -->

									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> INSURANCE ADDRESS></strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<span> 
                    ${appService.currentClaim.insco.ADDRESS}/${appService.currentClaim.INSURANCE_CONTACT_ID}/
                    ${appService.currentClaim.inscontact.LAST_NAME}
									</span>
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> CARRIER_FILE_NO</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="CARRIER_FILE_NO" class="form-control input-sm" value.bind="appService.currentClaim.CARRIER_FILE_NO">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Ins Carrier Adjuster</strong>
									</div>
									<!-- change.delegate="selectChangedIA(currentnewItem.INSURANCE_CONTACT_ID)">  -->

								
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<select id="INSURANCE_CONTACT_ID" class="form-control input-sm" value.bind="appService.currentClaim.INSURANCE_ADJUSTER_ID">
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of inscoAdjusters" model.bind="opt.INSURANCE_CONTACT_ID">
                       ${opt.NAME_LAST},  ${opt.NAME_FIRST}  
                      </option> 
                    </select>
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Ins Carrier Adjuster2</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<select class="form-control input-sm" value.bind="appService.currentClaim.inscontact" 
                    matcher.bind="inscontactMatcher"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="inscontact of inscoAdjusters" model.bind="inscontact">
                       ${inscontact.NAME_LAST},  ${inscontact.NAME_FIRST}  
                      </option> 
                    </select>
									</div>




									<!-- changed from 1 embeded rec to many recs ie for allstate -->

									<!-- <div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Ins Carrier Address</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
								

										<select id="INSURANCE_COMPANY_ID" class="form-control input-sm" value.bind="appService.currentClaim.INSURANCE_ADDRESS_ID"
										 change.delegate="selectChangedIAddr(currentnewItem.INSURANCE_COMPANY_ID)"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of inscoAddresses" model.bind="opt.INSURANCE_COMPANY_ID">
                        ${opt.ADDRESS}   ${opt.CITY} ${opt.STATE}
                      </option> 
                    </select>
									</div> -->


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Loss description >></strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<textarea rows="3" dblclick.delegate="showModal('DESCRIPTION')" type="text"
                     id="DESCRIPTION" class="form-control input-sm" value.bind="appService.currentClaim.DESCRIPTION"></textarea>
									</div>




								</div>
								<!-- Rtable Rtable--2cols" -->
							</div>
							<!-- form-group flex-column-1 -->

							<div class="form-group flex-column-1 margin-left-10">
								<div class="Rtable Rtable--2cols">

									<!-- <div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> ASSIGNMENT TYPE</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="ASSIGNMENT_TYPE" class="form-control input-sm" value.bind="appService.currentClaim.ASSIGNMENT_TYPE">
									</div> -->
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Status</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<select id="STATUS" class="form-control input-sm" value.bind="appService.currentClaim.STATUS"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of appService.statusList" model.bind="opt.value">
                        ${opt.name} 
                      </option> 
                    </select>

									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> DIARY </strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="date" id="REPORTED" class="form-control input-sm" value.bind="appService.currentClaim.REPORTED">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> CLOSED </strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="date" id="CLOSED" class="form-control input-sm" value.bind="appService.currentClaim.CLOSED">
									</div>



									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> EDITED </strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="date" id="EDITED" class="form-control input-sm" value.bind="appService.currentClaim.EDITED">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> RECEIVED </strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="date" id="RECEIVED" class="form-control input-sm" value.bind="appService.currentClaim.RECEIVED">
									</div>
								</div>
								<!-- flex row none -->
							</div>
							<!--top left  -->
						</div>
						<!-- <div class="flex-row-none"> -->

						<div id="bottom-left" class="flex-row-3">
							<div id="data-form-ext" class="flex-column-1">
								<div id="data-form-one-to-many-tabs" class="flex-row-none flex-wrap">
									<div repeat.for="tab of appService.dataFormOneToManyTabs" class="tab tab-top ${tab.isSelected ? 'tab-selected' : ''}">
										<div class="form-tab-box" click.delegate="selectOneToManyTab(tab)">
											<span>${tab.name}</span>
										</div>
									</div>
								</div>
								<div id="data-form-one-to-many-tab-content overflow-y-hidden" class="data-form flex-row-1" style="background: darkgray;">
									<compose view-model.bind="currentOneToManyTab.viewModel"></compose>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="flex-column-none section-footer">
				<!-- ${footer} -->

				

<span>&nbsp;&nbsp;	
          	<button class="btn btn-sm btn-danger" click.delegate="saveclaim(0)">
							Save & Stay
					</button>
					<button class="btn btn-sm btn-danger" click.delegate="saveclaim(1)">
							Save & Close
					</button>
				
		      <button class="btn btn-sm btn-danger" click.delegate="close()">
                 Close
          </button>
        </span>
			</div>
	</section>
</template>



<!-- <div class="form-group flex-column-1 margin-left">
										<label for="state">INSURED_ID</label>
										<select id="INSURED_ID" class="form-control input-sm" value.bind="appService.currentClaim.INSURED_ID | number">  
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of appService.insuredList" model.bind="opt.INSURED_ID">
                      ${opt.LEGAL_NAME} 
                      </option> 
                      </select>
									</div> -->

<!-- <div id="middle" class="flex-row-none height-10">
				</div>
				<div id="bottom" class="flex-row-1">
				</div> -->

<!-- <div class="form-group flex-column-1 margin-left-10">
										<label for="firstName">Ins Carrier Adjuster</label>
										<select id="STATUS" class="form-control input-sm" value.bind="appService.currentClaim.INSURANCE_CONTACT_ID"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of appService.InsurancecompanycontactList" model.bind="opt.INSURANCE_ADJUSTER_ID">
                        ${opt.name} 
                      </option> 
                    </select>
            
            
            			</div> -->
<!-- <div class="flex-row-none"> -->


<!-- <div class="form-group flex-column-1">
										<label for="adjuster">Adjuster~</label>
									
                     <input value.bind="adjuster.ADJUSTER_NAME" 
                     typeahead="items.bind:appService.adjusterList" type="text" name="adjuster"
										 class="form-control input-sm" ref="selectAdjusterElement" />
									</div> -->

<!-- adjusters        typeahead="items.bind:appService.adjusterList" type="text" name="adjuster" -->
<!-- input.delegate="appService.currentClaim.ADJUSTER_ID = findAdjusterListOption($event.target.value)"> -->

<!-- <div class="form-group flex-column-1  margin-left-10">
										<label for="state2">Adjuster A</label>
										<input id="adjuster2" type="text" list.bind="adjusterList & setAttribute" value.bind="appService.currentClaim.ADJUSTER_ID">
										<datalist id="adjusterList">
											<option repeat.for="opt of appService.adjusterList" model.bind="opt.ADJUSTER_ID">${opt.ADJUSTER_NAME}</option>
										</datalist>
										${selectedVal.id}
									</div>
									<div class="form-group flex-column-1 margin-left-10">

										<label for="id">Adjuster B</label>
										<input id="id" type="text" list.bind="id & setAttribute">
										<datalist id.bind="id">
											<option repeat.for="opt of appService.adjusterList">${opt.ADJUSTER_NAME}</option>
										</datalist>
										${selectedValue.id}
									</div>
									<div class="form-group flex-column-1 margin-left-10">
										<label for="testdl">testdl</label>
										<input id="testdl" type="text" list="myDatalist" input.delegate="selectedValue = findOption($event.target.value)" />
										<datalist id="myDatalist">
											<option repeat.for="option of options">${option.name}</option>
										</datalist>
										${selectedValue.id}
									</div>-->
<!-- </div> -->


<!-- <div class="form-group flex-column-1 ">

										<label for="firstName">Ins ADDRESS</label>
										<input type="text" id="firstName" class="form-control input-sm" value.bind="appService.currentClaim.insco.ADDRESS">
									</div>
								 -->
<!-- <div class="form-group flex-column-1  margin-left-10 ">
										<label for="state">INSURANCE_COMPANY_ID</label>
										<select id="INSURANCE_COMPANY_ID" class="form-control input-sm" value.bind="appService.currentClaim.INSURANCE_COMPANY_ID"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of appService.InsurancecompanyList" model.bind="opt.INSURANCE_COMPANY_ID">
                        ${opt.NAME} 
                      </option> 
                    </select>
									</div> -->