<template>
	<ux-dialog>
		<ux-dialog-header class="modal-header modal-header-success">
			<div class="alert alert-danger">
				<h4> ${fieldname}</h4>
			</div>
		</ux-dialog-header>
		<ux-dialog-body>
			<div show.bind="fieldname==='DESCRIPTION'">
				<textarea rows="8" cols="100" id="Notes" class="form-control input-sm" value.bind="currentItem.DESCRIPTION"></textarea>
			</div>
			<div show.bind="fieldname==='INSURED_ID'">
				<div class="form-group flex-column-1">
					<h3> ${doc} </h3>
					<aubs-typeahead ref='dinsured' data.bind="appService.insuredList" value.bind="LEGAL_NAME" debounce.bind="350" placeholder="INSURED_ID"
					 open-on-focus.bind="true" key="LEGAL_NAME" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead>
				</div>
			</div>
			<div show.bind="fieldname==='ADJUSTER_ID'">
				<div class="form-group flex-column-1">
					<h3> ${doc} </h3>
					<aubs-typeahead ref='dadjuster_id' data.bind="appService.adjusterList" value.bind="ADJUSTER_NAME" debounce.bind="350" placeholder="INSURED_ID"
					 open-on-focus.bind="true" key="ADJUSTER_NAME" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead>
				</div>
			</div>

			<div show.bind="fieldname==='docs'">
				<div class="form-group flex-column-1">
					<h3> docs: ${doc} 	
       <a>   <input id="icon_prefix" type="text" value.bind="searchdoc & debounce" class="validate">
                            
			 <i class="material-icons prefix">search</i>
       </a>
			</h3>
					<form>
						<table class="table-condensed table">
							<thead class="table-header-blue" data-sort="items.bind: currentItem.docs; cols: ['FILE_NAME','FILE_EXT']">
								<tr>
									<th class="header">FILE_NAME </th>
									<th class="header">FILE_EXT </th>

								</tr>
							</thead>
							<tfoot>
								<tr>
									<td></td>
									<td></td>

								</tr>
							</tfoot>
							<tbody>
								<tr repeat.for="doc of currentItem.docs" with.bind="doc">
									<td>
										<!-- <a  size='100' class="form-control  input-sm" target="_blank" href="http://adjusters.markadjustment.com/docs/${doc.CLAIM_NO}/${doc.FILE_NAME}"> -->
										<a size='100' class="form-control  input-sm" target="_blank" href="http://adjusters.markadjustment.com/docs/${currentItem.CLAIM_NO}/${doc.FILE_NAME}">
											${FILE_NAME}
										</a>
									</td>
									<td><input type="text" id="FILE_EXT" class="form-control  input-sm" value.bind="FILE_EXT"></td>

								</tr>
							</tbody>
						</table>
					</form>


				</div>
			</div>

			<div show.bind="fieldname==='insco'">
				<div class="form-group flex-column-1">
					<h3> ${doc} </h3>


					<aubs-typeahead ref='dinsco' data.bind="appService.InsurancecompanyList" value.bind="NAME" debounce.bind="350" placeholder="INSURANC CO"
					 open-on-focus.bind="true" key="NAME" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead>
				</div>
			</div>




			<hr>
		</ux-dialog-body>
		<ux-dialog-footer>
			<button click.trigger="controller.cancel()">Cancel and Close </button>
			<button click.trigger="save(modal)">Save and Close</button>
		</ux-dialog-footer>
	</ux-dialog>
</template>


<!-- <button click.trigger="controller.cancel()">Cancel</button>
      <button click.trigger="controller.ok(answer)">Ok</button> -->

<!-- <template>
	<ux-dialog>
		<ux-dialog-header class="modal-header modal-header-success">
			<div class="alert alert-danger">
				<h1> ${fieldname}</h1>
			</div>
		</ux-dialog-header>
		<ux-dialog-body>
			<div show.bind="fieldname==='DESCRIPTION'">
				<textarea rows="8" cols="100" id="Notes" class="form-control input-sm" value.bind="currentItem.DESCRIPTION"></textarea>
			</div>
			<div show.bind="fieldname==='Comment'">
				<textarea rows="8" cols="100" id="Notes" class="form-control input-sm" value.bind="currentItem.Comment"></textarea>
			</div>
			<div show.bind="fieldname==='Inscribed'">
				<textarea rows="8" cols="100" id="Inscribed" class="form-control input-sm" value.bind="currentItem.Inscribed"></textarea>
			</div>


			<div show.bind="fieldname==='OwnerID'">
				<div class="form-group flex-column-1">
					<h2> ${doc} </h2>


					<aubs-typeahead ref='dorg' data.bind="appService.orgsList" value.bind="OrgName" debounce.bind="350" placeholder="OwnerID"
					 open-on-focus.bind="true" key="OrgName" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead>
				</div>


			</div>
			</div>
		

			<div show.bind="fieldname==='SoldTo'">
				<h2> ${doc} </h2>

				<div class="form-group flex-column-1">
					<aubs-typeahead ref='dorg' data.bind="appService.orgsList" value.bind="OrgName" debounce.bind="350" placeholder="SoldTo"
					 open-on-focus.bind="true" key="OrgName" results-limit.bind="12" select-single-result.bind="true">
					</aubs-typeahead>
				</div>
			</div>



			<hr>
		</ux-dialog-body>

		<ux-dialog-footer>

			<button click.trigger="controller.cancel()">Cancel and Close </button>
			<button click.trigger="save()">Save and Close</button>

		</ux-dialog-footer>
	</ux-dialog>
</template> -->