<template>

	<section class="full-height flex-column-1 au-animate ignore">

		<div class="flex-row-1 overflow-y-auto">
			<form class="flex-column-1">

				<div id="top" class="flex-row-2">
					<div id="top-left" class="data-form overflow-y-auto flex-column-1">
						<div class="flex-row-none">
							<div class="form-group flex-column-1">
								<label for="DESCRIPTION">DESCRIPTION</label>
								<input type="text" id="DESCRIPTION" class="form-control" value.bind="currentItem.DESCRIPTION">
							</div>

						</div>

					</div>


				</div>


			</form>
		</div>

	</section>
</template>


<!-- <template>
	<section class="full-height flex-column-1 ignore">
		Claim Emails... -->

<!-- <div class="flex-row-1 overflow-y-auto"> -->
<!-- <div class="flex-row-1 ignore">
			<form class="flex-column-1">
	<div class="flex-column-1 search-panel">
				<div id="top" class="flex-row-2">
					<div id="top-left" class="data-form overflow-y-auto flex-column-12">
						<div class="flex-row-none"> -->
<!-- <div class="form-group flex-column-1"> -->
<!-- <div class="form-group">
								<label for="DESCRIPTION">DESCRIPTION</label>
								<input type="text" id="DESCRIPTION" class="form-control" value.bind="currentItem.DESCRIPTION">
							</div>
	

						</div>
					</div>
				</div>
			</form>
		</div>

	</section>
</template> -->