<template>
	<require from="./set-attribute"></require>
	<section class="full-height flex-column-1 au-animate ignore">
		<div class="flex-row-none section-header">
			${heading}
		</div>
		<div class="flex-row-1 ignore">
			<div class="flex-column-1 search-panel">
				<form>
					<div class="form-group">
						<input id="searchInput" type="text" class="form-control" placeholder="Search for CLAIM_NO..ie.'01-03188'" value.bind="search.claimno">
					</div>
					<!-- <div class="form-group">
						<input id="searchInvCode" type="text" class="form-control" placeholder="Search for CLAIM_ID..." value.bind="search.claimid">
					</div> -->

	<div class="flex-row-none">
						<div class="form-group flex-column-1">
							<aubs-typeahead ref='dow' data.bind="appService.stateList" value.bind="name" debounce.bind="350" placeholder="States" open-on-focus.bind="true"
							 key="name" results-limit.bind="10" select-single-result.bind="true">
							</aubs-typeahead>
							<br/>
							<button class="btn btn-default" click.delegate="name = null" disabled.bind="!name">Clear State</button>
						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<label>Selected State: ${name.value} </label>
						</div>
					</div>
	
					<!-- <div class="form-group flex-column-1 margin-left-10">
						<label for="adjuster">Adjuster</label>
						<select id="searchInvCode" class="form-control input-sm" value.bind="search.adjuster"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of appService.adjusterList" model.bind="opt.ADJUSTER_ID">
                        ${opt.ADJUSTER_NAME} 
                      </option> 
                    </select>


					</div> -->


					<div class="flex-row-none">
						<div class="form-group flex-column-1">
							<aubs-typeahead ref='keyword' data.bind="appService.codesGenre" value.bind="Description" debounce.bind="350" placeholder="Keyword"
							 open-on-focus.bind="true" key="Description" results-limit.bind="10" select-single-result.bind="true">
							</aubs-typeahead>
							<br/>
							<button class="btn btn-default" click.delegate="Description = null" disabled.bind="!Description">Clear Keyword</button>
						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<label>Selected Keyword: ${Description.Description} </label>
						</div>
					</div>



					<!-- datalist  -->
					<!-- <div class="form-group">
						<label for="adjuster">Adjuster--</label>
						<input id="searchInvCode" type="text" list.bind="searchInvCode & setAttribute">
						<datalist  id.bind="searchInvCode">
							<option repeat.for="opt of appService.adjusterList">${opt.ADJUSTER_NAME}</option>
						</datalist>
					</div> -->


					<div class="form-group">
						<input id="searchartistl" type="text" class="form-control" placeholder="Search for inv claimant last..." value.bind="search.claimant">
					</div>
					<div class="form-group">
						<input id="searchInvCode" type="text" class="form-control" placeholder="Search for insured..." value.bind="search.insured">
					</div>
					<div class="form-group">
						<input id="searchInvCode" type="text" class="form-control" placeholder="Search for insurance company..." value.bind="search.insco">
					</div>
					<div class="form-group">
						<input id="searchlossdesc" type="text" class="form-control" placeholder="Search for Loss desc..." value.bind="search.lossdesc">
					</div>



					<div class="flex-row-none">
						<div class="form-group flex-column-1">
							<label for="dol">Date Of Loss</label>
							<input id="searchdol" type="date" class="form-control" placeholder="Search for Date of Loss..." value.bind="search.dol">

						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<label for="searchdrcvdatel">(Received Start Date GT=</label>
							<input id="searchdrcvdatel" type="date" class="form-control" placeholder="Search for Received Date Start GT=..." value.bind="search.receiveddate">
						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<label for="lastName">Stop Date LT=)</label>
							<input id="searchdrcvdate2" type="date" class="form-control" placeholder="Search for Date Stop LT=.." value.bind="search.stopdate">
						</div>

					</div>





					<button id="searchInputBtn" class="btn btn-primary" type="button" click.delegate="performSearch()">Search!</button>
				</form>

				<!-- <div class="input-group">              -->
				<!-- <input id="searchCurrentLocation" type="text" 
            class="form-control" 
            placeholder="Search for CurrentLocation ..."
            value.bind="search.currentlocation"> -->
				<!-- <span class="input-group-btn">
            <button id="searchInputBtn" 
              class="btn btn-primary" 
              type="button"
              click.delegate="performSearch()">Go!</button>
          </span> -->
				<!-- </div> -->
			</div>
		</div>
	</section>
</template>



<!-- <require from="../../utils/set-attribute"></require> -->

<!-- <require from="./set-attribute"></require> -->