<template>

	<require from="./flex.css"></require>

	<section class="full-height flex-column-1 au-animate ignore">
		<div class="flex-row-none section-header">
			${heading} Add 2
		</div>
		<div id="top" class="flex-row-3">
			<div id="top-left" class="data-form overflow-y-auto flex-column-2">
				<!-- row1 -->
				<div class="flex-row-none">
					<div class="form-group flex-column-1">
						<div class="Rtable Rtable--2cols">
							<div class="Rtable-cell-30 Rtable-cell--green">
								<strong> CLAIM_NO</strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--green">
								<input type="text" id="CLAIM_NO" class="form-control input-sm" value.bind="appService.currentClaim.CLAIM_NO">
							</div>
							<div class="Rtable-cell-30 Rtable-cell--green">
								<strong> Claimant Last</strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--green">
								<input type="text" id="CLAIM_NO" class="form-control input-sm" value.bind="appService.currentClaim.claimant.LAST_NAME">
							</div>
							<div class="Rtable-cell-30 Rtable-cell--green">
								<strong> Claimant First</strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--green">
								<input type="text" id="FIRST_NAME" class="form-control input-sm" value.bind="appService.currentClaim.claimant.FIRST_NAME">
							</div>
							<div class="Rtable-cell-30 Rtable-cell--green">
								<strong> Adjuster</strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--green">
								<select id="adjuster" class="form-control input-sm" value.bind="appService.currentClaim.ADJUSTER_ID"> 
                      <option model.bind="null">Choose...${appService.currentClaim.ADJUSTER_ID}</option> 
                      <option repeat.for="opt of appService.adjusterList" model.bind="opt.ADJUSTER_ID">
                        ${opt.ADJUSTER_NAME}  
                      </option> 
                    </select>
							</div>
							<div class="Rtable-cell-30 Rtable-cell--green">
								<strong> Insured</strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--green">

								<input click.delegate="showModal('INSURED_ID')" type="text" id="INSURED_ID" class="form-control input-sm" value.bind="appService.currentClaim.insured.LEGAL_NAME">


								<!-- <select id="JURISDICTION_ID" class="form-control input-sm" value.bind="appService.currentClaim.JURISDICTION_ID"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of appService.stateList" model.bind="opt.value">
                        ${opt.name} 
                      </option> 
                    </select>
                     -->
							</div>

							<div class="Rtable-cell-30 Rtable-cell--green">
								<strong> Jurisdiction</strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--green">
								<input type="text" id="JURISDICTION_ID" class="form-control input-sm" value.bind="appService.currentClaim.JURISDICTION_ID">
							</div>

							<div class="Rtable-cell-30 Rtable-cell--green">
								<strong> CLAIM_TYPE</strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--green">
								<select id="CLAIM_TYPE" class="form-control input-sm" value.bind="appService.currentClaim.CLAIM_TYPE"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of appService.claimtypeList" model.bind="opt.CLAIM_TYPE_ID">
                        ${opt.CLAIM_TYPE_DESC} 
                      </option> 
                    </select>
							</div>
						</div>
					</div>
					<!-- demo middle col -->
					<div class="form-group flex-column-1 margin-left-10">
						<div class="Rtable Rtable--2cols">
							<div class="Rtable-cell-30 Rtable-cell--highlight">
								<strong> INSURANCE COMPANY</strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--highlight">
								<input click.delegate="showModal('insco')" type="text" id="INSURANCE" class="form-control input-sm" value.bind="appService.currentClaim.insco.NAME">
								<!-- <input type="text" id="INSURED_ID" class="form-control input-sm" value.bind="appService.currentClaim.insured.LEGAL_NAME"> -->

							</div>

							<div class="Rtable-cell-30 Rtable-cell--highlight">
								<strong> CARRIER_FILE_NO</strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--highlight">
								<input type="text" id="CARRIER_FILE_NO" class="form-control input-sm" value.bind="appService.currentClaim.CARRIER_FILE_NO">
							</div>
							<div class="Rtable-cell-30 Rtable-cell--highlight">
								<strong> Ins Carrier Adjuster</strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--highlight">
								<select id="INSURANCE_CONTACT_ID" class="form-control input-sm" value.bind="appService.currentClaim.INSURANCE_CONTACT_ID"
								 change.delegate="selectChangedIA(currentnewItem.INSURANCE_CONTACT_ID)"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of inscoAdjusters" model.bind="opt.INSURANCE_CONTACT_ID">
                       ${opt.NAME_LAST},  ${opt.NAME_FIRST}  
                      </option> 
                    </select>

							</div>

							<div class="Rtable-cell-30 Rtable-cell--highlight">
								<strong> Ins Carrier Address</strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--highlight">
								<!-- <input click.delegate="showModal('OwnerID')" type="text" id="OwnerID" class="form-control input-sm" value.bind="currentItem.ownername"> -->


								<select id="INSURANCE_COMPANY_ID" class="form-control input-sm" value.bind="appService.currentClaim.INSURANCE_ADDRESS_ID"
								 change.delegate="selectChangedIAddr(currentnewItem.INSURANCE_COMPANY_ID)"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of inscoAddresses" model.bind="opt.INSURANCE_COMPANY_ID">
                        ${opt.ADDRESS}   ${opt.CITY} ${opt.STATE}
                      </option> 
                    </select>
							</div>

							<!-- 
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Ins Contact Last Name</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="NAME_LAST" class="form-control input-sm" value.bind="appService.currentClaim.inscontact.NAME_LAST">
									</div> -->

							<div class="Rtable-cell-30 Rtable-cell--highlight">
								<strong> Loss DESCRIPTION textarea</strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--highlight">
								<!-- <input type="text" id="lossdescription" class="form-control input-sm" value.bind="currentClaim.DESCRIPTION"> -->
								<input click.delegate="showModal('DESCRIPTION')" type="text" id="DESCRIPTION" class="form-control input-sm" value.bind="appService.currentClaim.DESCRIPTION">


							</div>

						</div>
						<!-- Rtable Rtable--2cols" -->
					</div>
					<!-- form-group flex-column-1 -->




					<div class="flex-column-none section-footer">
						<!-- ${footer} -->

						<span>&nbsp;&nbsp;	
              <button class="btn btn-sm btn-danger" click.delegate="saveclaim()">
                  Save Claim
              </button>
              </span>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>