<template>
	<require from="./docs.css"></require>
	<!-- <section class="customer-orders au-animate"> -->
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h3>Invoices</h3>
		<table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: files; cols: ['FILE_NAME','FILE_EXT']">
				<tr>
					<th class="header">status</th>
					<th class="header">Open Pdf</th>
					<th class="header">Download Pdf</th>

				</tr>

			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>
				<tr repeat.for="ar of files">
					<td>
						<span show.bind="ar.status===0">
       				Temp 
						
           </span>
						<span show.bind="ar.status===1">
           				Final	
						
          </span>
					</td>
					<td>
						<span show.bind="ar.status===0">
              	<a size='100' class="form-control  input-sm" target="_blank" 
                href="http://jif.bergenrisk.com:8081/api/v1/onepdf/${ar.claim.CLAIM_NO}/${ar.id}temp.pdf">
							 	${ar.id}
							</a>
            </span>
						<span show.bind="ar.status===1">
              	<a size='100' class="form-control  input-sm" target="_blank" 
             href="https://jif.bergenrisk.com:8081/api/v1/onepdf/${ar.claim.CLAIM_NO}/${ar.id}.pdf">
									${ar.id}
							</a>
            </span>

					</td>

					<td>

						<span show.bind="ar.status===0">
              	<a size='100' class="form-control  input-sm" target="_blank" 
                href="https://jif.bergenrisk.com:8081/api/v1/downloadar/${ar.claim.CLAIM_NO}/${ar.id}temp.pdf">
								 	${ar.id}
							</a>
</span>
						<span show.bind="ar.status===1">
              	<a size='100' class="form-control  input-sm" target="_blank" 
             href="https://jif.bergenrisk.com:8081/api/v1/downloadar/${ar.claim.CLAIM_NO}/${ar.id}.pdf">
									${ar.id}
							</a>
</span>

					</td>

				</tr>
			</tbody>
		</table>

	</section>
</template>