<template>
	<h1>Hello World
		<data-form>
			<input type="date"><input>
     <textarea>DESCRIPTION</textarea>
      <button class="btn btn-default">Button</button>
      <select></select>
   </data-form>
	</h1>
</template>

					<span show.bind="mode===0">
   					 <td width="125px">${WorkDate}</td>
						 <td width="325px">${Notes}</td>
            </span>
						<span show.bind="mode > 0 && $index ===  editrec ">
  						<td width="125px"><input type="date" id="WorkDate" class="form-control  input-sm" value.bind="WorkDate"></td>
	  					<td width="325px">
							<input type="text" id="Notes" class="form-control  input-sm" value.bind="Notes"></td>
		 				<td><td>
         
         <button class="btn btn-sm btn-danger" click.delegate="save(note,$index)">
                  save
                </button>
                 <button class="btn btn-sm btn-danger" click.delegate="cancel(note,$index)">
                  cancel
                </button>
                
                 </span>
						</td>