<!-- <require from="./set-attribute"></require>
	<require from="./typeahead"></require>
 "Head" : "test", 
    "status" : NumberInt(1), 
    "claim" : {
        "CLAIM_ID" : NumberInt(36089), 
        "CLAIM_NO" : "01-03188", 
        "INSURED_ID" : "23757", 
        "CLAIM_TYPE" : NumberInt(1), 
        "ADJUSTER_ID" : NumberInt(4), 
        "ACCOUNT_REP_ID" : NumberInt(3), 
        "INSURANCE_COMPANY_ID" : "262", 
        "INSURANCE_ADJUSTER_ID" : NumberInt(942), 
        "MARK_CLAIMOFFICE_ID" : "", 
        "DATE_OF_LOSS" : "2015-11-23", 
        "DESCRIPTION" : "Re-opened testRe-opened testRe-opened testRe-opened testRe-opened testRe-opened test122 34 56 bc33 fff dd", 
        "POLICY_NUMBER" : "", 
        "POLICY_LIMITS" : "", 
        "POLICY_DEDUCTABLE" : "", 
        "POLICY_INCEPTION" : "", 
        "POLICY_EXPIRATION" : "", 
        "COMMENTS" : "", 
        "CLAIMANT_ID" : NumberInt(30471), 
        "STATUS" : NumberInt(3), 
        "REPORTED" : "2017-05-25", 
        "CLOSED" : "2017-10-27", 
        "EDITED" : "2017-10-27", 
        "RECEIVED" : "2017-10-23", 
        "POLICY_NO" : "", 
        "FORMAL_INSTITUTED" : "", 
        "DATE_INSTITUTED" : "", 
        "DEFENSE_ATTY" : "", 
        "PLAINTIFF_ATTY" : "", 
        "RECOVERY_AVAIL" : "", 
        "RECOVERY_AGAINST" : "", 
        "RECOVERY_LIEN_FILED" : "", 
        "RECOVERY_DATE_FILED" : "", 
        "RECOVERY_EST" : "", 
        "RECOVERY_ACTUAL" : "", 
        "RECOVERY_TYPE" : "", 
        "RECOVERY_COMMENTS" : "", 
        "MULTI_CLAIMANTS" : "", 
        "MULTI_NAMES" : "", 
        "JURISDICTION_ID" : "NY", 
        "CARRIER_FILE_NO" : "30177294136-0001", 
        "DEFAULT_FEE" : NumberInt(1), 
        "ASSIST_ID" : "", 
        "ASSIGNMENT_TYPE" : "", 
        "LOCATION_ID" : "176", 
        "ASSIGNMENT_TYPE_DESC" : "Re-Opened to F/u w/insured for COI", 
        "REOPEN_FLAG" : "", 
        "ADJUSTER_RATE" : "", 
        "ASSIST_RATE" : "", 
        "OPEN_AMT" : "", 
        "CLOSED_AMT" : "", 
        "TOTHRS" : "", 
        "isReviewed" : "", 
        "isInvoiceable" : "", 
        "INV_STATUS" : "", 
        "ADJ_STATUS" : "", 
        "PERIOD" : "", 
        "claimant" : {
            "LAST_NAME" : "Cintron", 
            "FIRST_NAME" : "Luz"
        }, 
        "insco" : {
            "NAME" : "AAA", 
            "ADDRESS" : "P.O. Box 1025 Decatur GA", 
            "INSURANCE_COMPANY_ID" : "262", 
            "id" : "5afaecb3888aaad8679d55d6"
        }, 
        "adjusters" : [
            {
                "ADJUSTER_NAME" : "Donna Luciani", 
                "EMP_TYPE" : "e", 
                "LIABILITY_RATE" : NumberInt(0), 
                "PROPERTY_RATE" : NumberInt(0), 
                "MILEAGE_RATE" : NumberInt(0), 
                "TYPE" : "Primary", 
                "ADJUSTER_ID" : null
            }
        ], 
        "primaryAdjuster" : "Donna Luciani", 
        "insured" : {
            "LEGAL_NAME" : "Progressive Management of NY Corp, et al", 
            "INSURED_ID" : "23757", 
            "id" : "592eecb7133556a6c8caf9fb"
        }, 
        "ADJUSTER" : {
            "ADJUSTER_NAME" : "Donna Luciani", 
            "EMP_TYPE" : "e", 
            "LIABILITY_RATE" : NumberInt(0), 
            "PROPERTY_RATE" : NumberInt(0), 
            "MILEAGE_RATE" : NumberInt(0), 
            "TYPE" : "Primary"
        }, 
        "LEGAL_NAME" : "Progressive Management of NY Corp, et al", 
        "INSURANCE_CONTACT_ID" : NumberInt(4630), 
        "updatedAt" : ISODate("2018-09-04T15:07:32.193+0000"), 
        "LossDescription" : "5Re-opened testRe-opened testRe-opened testRe-opened testRe-opened testRe-opened test122 34 56 bc33 fff dd7", 
        "xdesc" : "5Re-opened testRe-opened testRe-opened testRe-opened testRe-opened testRe-opened test122 34 56 bc33 fff dd7", 
        "inscontact" : {
            "INSURANCE_CONTACT_ID" : NumberInt(966), 
            "NAME_LAST" : "McDowell", 
            "NAME_FIRST" : "Pat", 
            "PHONE_WORK" : "", 
            "FAX" : "", 
            "CELLULAR" : "", 
            "PREFIX" : "Ms."
        }, 
        "id" : "5af9aed11df3a9f5b1c4609d"
    }, 
    "details" : [
        {
            "BILL_TIME" : 0.5, 
            "EXPENSE_BILLED" : NumberInt(15), 
            "MILEAGE_BILLED" : NumberInt(55), 
            "SERVICE" : "Contact Claimant w/travel", 
            "EXPENSE" : "Dictation", 
            "WORK_DATE" : "01/16/18", 
            "WORK_DESCRIPTION" : "This is an example of work desc, please note wrap This is an example of work desc, please note wrap", 
            "ADJUSTER_NOTES" : "test", 
            "ADJUSTER" : "Donna Luciani", 
            "INV_STATUS" : NumberInt(1), 
            "AR_ID" : NumberInt(0)
        }, 
        {
            "BILL_TIME" : 0.45, 
            "EXPENSE_BILLED" : NumberInt(4), 
            "MILEAGE_BILLED" : NumberInt(0), 
            "SERVICE" : "Contact Witness w/travel", 
            "EXPENSE" : "Telephone Insured", 
            "WORK_DATE" : "01/16/18", 
            "WORK_DESCRIPTION" : "foto", 
            "ADJUSTER_NOTES" : "test foto", 
            "ADJUSTER" : "Donna Luciani", 
            "INV_STATUS" : NumberInt(1), 
            "AR_ID" : NumberInt(0)
        }
    ], 
    "sumWork" : 0.95, 
    "sumExpense" : NumberInt(19), 
    "sumTravel" : NumberInt(55), 
    "totalWork" : 48.93, 
    "totalExpense" : NumberInt(19), 
    "totalTravel" : NumberInt(22), 
    "grandTotal" : 89.93, 
    "createdAt" : ISODate("2018-09-05T15:15:01.984+0000"), 
    "updatedAt" : ISODate("2018-09-05T15:15:01.984+0000")


 -->
 
<template>

	<section class="full-height flex-column-1 au-animate ignore">
		<div class="flex-row-none section-header">
			${heading} Add
		</div>

		<div class="flex-column-1 overflow-y-auto">
			<form class="flex-column-1">
				<div id="top" class="flex-row-2">

					<div id="top-left" class="data-form overflow-y-auto flex-column-1">
						<div class="flex-row-6">
							<div class="flex-column-1">
								<div class="flex-row-none">
									<div class="form-group flex-column-1 ">
										<label for="LEGAL_NAME">INSURED_ID</label> ${appService.currentInsured.INSURED_ID}
									</div>

									<div class="form-group flex-column-1 margin-left-10">
										<label for="LEGAL">LEGAL Name</label>
										<input type="text" id="LEGAL" class="form-control input-sm" value.bind="appService.currentInsured.LEGAL_NAME">
									</div>
									
									<div class="form-group flex-column-1 margin-left-10">
										<label for="COMMON_NAME">COMMON_NAME</label>
										<input type="text" id="COMMON_NAME" class="form-control input-sm" value.bind="appService.currentInsured.COMMON_NAME">
									</div>
								</div>
						
							</div>

						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="flex-column-none section-footer">
			<!-- ${footer} -->

			<span>&nbsp;&nbsp;	
          <button class="btn btn-sm btn-danger" click.delegate="saveinsco()">
                  Save Insurance co
          </button>
        </span>
		</div>
	</section>
</template>
