<template>
  <section class="au-animate">
    <div class="section-header flex-row-none">
      ${heading}
    </div>
  <div class="section-content flex-row-1">
    Main content here..mas.v113
    Changed Insurance...
     <!-- <img src="https://5924b98cbd966f546312882f.blob.core.windows.net/fecBrm/src/images/MAimage.jpg" class="logo"> -->
 <img src="https://5924b98cbd966f546312882f.blob.core.windows.net/sample-layout-brm/src/images/MAimage.jpg" class="logo">

  </div>  

 <template class="combobox">
    <div class="input-ct">
      <input ref="input" value.bind="filterText" />
    <div>
    <ul portal class="list-group items-list">
      <li repeat.for="item of appService.stateList | filter: filterText" class="list-group-item">${item.name}</li>
    </ul>
  </template>


  </section>
</template>



