<template>
	<!-- <require from="./set-attribute"></require> -->
	<section class="full-height flex-column-1 au-animate ignore">
		<div class="flex-row-none section-header">
			${heading}
		</div>
		<div class="flex-row-1 ignore">
			<div class="flex-column-1 search-panel">
				<form>
            	<label for="payperiod"> List of payperiods to pay adjuster and adjusters. After selecting an adjuster that has  ADJ_STATUS=0 on dailies. Seach will open all open dailies. This is in process and currently only repares the adjpayment collection </label>
					
					<div class="flex-row-none">
          
						<div class="form-group flex-column-1 ">

								<select id="searchpayperiod" class="form-control input-sm" value.bind="search.payperiod"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of appService.PayperiodList" model.bind="opt.period">
                        ${opt.period}  
                      </option> 
                    </select>

						</div>
						<div class="form-group flex-column-1 margin-left-10">
							<select id="searchInvCode" class="form-control input-sm" value.bind="search.adjuster"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of adjusterprep" model.bind="opt.ADJUSTER_ID">
                        ${opt.ADJUSTER_NAME} 
                      </option> 
                    </select>

						</div>
					</div>
					<button id="searchInputBtn" class="btn btn-primary" type="button" click.delegate="performSearch()">Search!</button>
				</form>
			</div>
		</div>
	</section>
</template>